<h2>Staff Directory</h2>
<form>
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>ID</th>
                <th>Last Name<a href="http://localhost:3000/?sort={{sortOrder}}">&#129113;</a></th>
                <th>First Name</th>
                <th>Email</th>
                <th>Phone #</th>
                <th>Adress</th>
                <th>Job Title</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {{#each employees}}
            <tr>
                <td>{{id}}</td>
                <td>{{lname}}</td>
                <td>{{fname}}</td>
                <td>{{email}}</td>
                <td>{{ph}}</td>
                <td>{{address}}</td>
                <td>{{title}}</td>
                <td><input type="checkbox" name="select" value="{{id}}"><label for="select"></label></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button class="btn btn-info" type="submit" formmethod="get" formaction="/add">Add new staff member</button>
    <button class="btn btn-info" type="submit" formmethod="post" formaction="/remove">Remove selected staff member</button>
</form>
